.cl-1 {background-color: #41baff;}.cl-2 {background-color: #3daeef;}
.cl-3 {background-color: #3aa5e3;}.cl-4 {background-color: #369bd5;}
.cl-5 {background-color: #3392c9;}.cl-6 {background-color: #2f88ba;}
.cl-7 {background-color: #2b7caa;}.cl-8 {background-color: #28729c;}
.cl-9 {background-color: #23658b;}.cl-10 {background-color: #1f597a;}
.cl-11 {background-color: #1b4d69;}.cl-12 {background-color: #163f57;}
.cl-13 {background-color: #123448;}.cl-14 {background-color: #0e2938;}
.cl-15 {background-color: #0a1e29;}.cl-16 {background-color: #061117;}
.cl-17 {background-color : #92cba5;}.cl-18 {background-color : #a3e3c5;}
.cl-19 {background-color : #93d2b5;}.cl-20 {background-color : #87c1a6;}
.cl-21 {background-color : #7db299;}.cl-22 {background-color : #73a48d;}
.cl-23 {background-color : #699681;}.cl-24 {background-color : #5f8774;}
.cl-25 {background-color : #537766;}.cl-26 {background-color : #4b6b5c;}
.cl-27 {background-color : #405c4f;}.cl-28 {background-color : #354c41;}
.cl-29 {background-color : #2b3e35;}.cl-30 {background-color : #212f28;}
.cl-31 {background-color : #141d19;}.cl-32 {background-color : #000000;}
.cl-1,.cl-2,.cl-3, .cl-4,.cl-5, .cl-6,.cl-7, .cl-8,.cl-9,.cl-10,.cl-11,
.cl-12,.cl-13,.cl-14,.cl-15,.cl-16,.cl-17,.cl-18,.cl-19,.cl-20,.cl-21,
.cl-22,.cl-23,.cl-24,.cl-25,.cl-26,.cl-27,.cl-28,.cl-29,.cl-30,.cl-31,
.cl-32{opacity:0.8;}
.text-red{color:red;}
.text-green{color:green;}
.text-blue{color:blue;}
.text-yellow{color:yellow;}
.text-white{color:white;}